{# Do you wish to continue #}
y
{# Do you want to install the NetBackup client software for this client #}
y
{# Enter the name of the NetBackup primary server #}
{{ nbu_primary_server_ans }}
{# Would you like to use "<client name>" as the configured name of the NetBackup client. #}
y
