# $Copyright: Copyright (c) 2025 Cohesity, Inc. All rights reserved $

# Execute the role which detect the partial install status
- name: "NBU-NBCHECK -> Execute the partial install status role"
  ansible.builtin.include_role:
    name: 'helper/detect_partial_install'

- name: "NBU-NBCHECK -> Execute the task based on partial installation detection"
  block:
    - name: "NBU-NBCHECK -> Execution of symlink operation role"
      ansible.builtin.include_role:
        name: 'netbackup/{{ nbap_ansible_system }}/symlink-operations'

    - name: "NBCHECK -> Include tasks for NBChecks"
      ansible.builtin.include_tasks: "{{ nbap_ansible_system }}.yml"

    - name: "NBCHECK -> Executing NBChecks"
      ansible.builtin.include_tasks: "nbcheck.yml"
      with_items: "{{ test_name_list }}"

    # Create temp file once NBCheck run. So that NBCheck should not get called through rpm again
    - name: "NBU-NBCHECK -> Create temp file to get nbu role status"
      ansible.builtin.copy:
        content: "{{ 'n' if 'media' in nbu_role else 'y' }}"
        dest: /tmp/nb_mstr_ans
      when: nbu_role == "media" or nbu_role == "primary"
  when:
    - (not nbap_partial_install_detected)
