# $Copyright: Copyright (c) 2025 Cohesity, Inc. All rights reserved $

- name: "NBCHECK -> Removing existing VRTSnbpck package and /usr folder from {{ os_path_openv_tmp  }}"
  file:
    path: "{{ item }}"
    state: absent
  with_items:
   - "{{ os_path_openv_tmp  }}/VRTSnbpck{{ package_extension }}"
   - "{{ os_path_openv_tmp  }}/usr"
   - "{{ os_path_openv_tmp  }}/nbcheck"

- name: "NBCHECK -> Verify base directory {{ os_path_nbu_install_default }} existence"
  stat:
    path: "{{ os_path_nbu_install_default }}"
  register:  base_dir_existence_status_register

- name: "NBCHECK -> Ansible::Log.info"
  ansible.builtin.assert:
    that:
      - ( base_dir_existence_status_register.stat.exists )
    fail_msg: "ERROR: [{{ os_path_nbu_install_default }}] does not exists, could not continue with playbook execution."
    quiet: false

- name: "NBCHECK -> Create [{{ os_path_openv_tmp }}] directory if it does not exist"
  ansible.builtin.file:
    path: "{{ os_path_openv_tmp }}"
    state: directory

- name: "NBCHECK -> Download {{ nbcheck_package_name }} package to {{ os_path_openv_tmp  }}"
  get_url:
    url: "{{ nbu_artifactory_repo_base_url }}{{ artifactory_repo }}{{ nbu_path_repo_base_pkg }}/{{ nbcheck_package_name }}{{ package_extension }}"
    dest: "{{ os_path_openv_tmp  }}/{{nbcheck_package_name}}{{ package_extension }}"

- name: "NBCHECK -> Check {{ nbcheck_package_name }} package existence in {{ os_path_openv_tmp  }}"
  stat:
    path: "{{ os_path_openv_tmp  }}/{{nbcheck_package_name}}{{ package_extension }}"
  no_log: true
  register: file_status_register

- name: "NBCHECK -> Extract {{nbcheck_package_name}}{{ package_extension }} package"
  ansible.builtin.shell: ( gunzip -f "{{nbcheck_package_name}}{{package_extension}}" )
  args:
    chdir: "{{ os_path_openv_tmp }}"
  when:
    - ansible_system == 'AIX' or ansible_system == 'SunOS'
    - file_status_register.stat.exists

- name: "NBCHECK -> Extracting nbcheck file from {{ nbcheck_package_name }}"
  ansible.builtin.shell: "{{ nbcheck_package_extraction_cmd }}"
  args:
    chdir: "{{ os_path_openv_tmp }}"
  register: extract_file_status_register
  no_log: true
  when: file_status_register.stat.exists

- name: "NBCHECK -> Flatten extracted pkg directory structure on SunOS"
  ansible.builtin.shell: |
    rsync -a {{ os_path_openv_tmp }}/VRTSnbpck/root/ {{ os_path_openv_tmp }}/
    rm -rf {{ os_path_openv_tmp }}/VRTSnbpck
  when:
    - ansible_system == "SunOS"
    - file_status_register.stat.exists

- name: "NBCHECK -> Set-Fact NBCheck test name list based on nbu role"
  set_fact:
    test_name_list: "{{ nbcheck_test_name[nbu_role] }}"

- name: "NBCHECK -> Set Fact NBCheck service user CLI argument"
  set_fact:
    db_service_user_arg: "{{ '-Dservice_user='+nbu_services_user if nbu_role =='primary' else '' }}"

- name: "NBCHECK -> Set fact for installing ITA DC NBCheck CLI argument"
  set_fact:
    install_it_analytics: "{{ '-Dinstall_it_analytics=yes' if nbu_role =='primary' and do_install_ita_dc else '' }}"

- name: "NBCHECK -> Passing nbcheck CLI argument when websvc group is different from default web group"
  set_fact:
    nbweb_service_group: "{{ '-Dwebsvc_group='+nbu_webservices_group if nbu_role =='primary' else '' }}"

- name: "NBCHECK -> Passing nbcheck CLI argument when websvc user is different from default web user"
  set_fact:
    nbweb_service_user: "{{ '-Dwebsvc_user='+nbu_webservices_user if nbu_role =='primary' else '' }}"

- name: "NBCHECK -> Passing nbcheck CLI argument when database user is different from default user"
  set_fact:
    postgres_user_param: "{{ '-Dpostgres_user='+nbu_database_user if nbu_role =='primary' else '' }}"

- name: "NBCHECK -> Passing nbcheck CLI argument when postgresql_pooler_odbc_port (pg bouncer port) is different from default"
  set_fact:
    pg_bouncer_port_param: "{{ '-Dpgb_port='+postgresql_pooler_odbc_port if nbu_role =='primary' else '' }}"

#EOF