# $Copyright: Copyright (c) 2025 Cohesity, Inc. All rights reserved $

# NetBackup Stage Packages Locally
- name: NETBACKUP -> Stage Packages Locally
  gather_facts: true
  become: yes
  hosts: all
  pre_tasks:
    - name: Retrieving host distribution
      setup:
        gather_subset:
          - "!all"
          - "!min"
          - "distribution"

    # Python 3.9+ is required for compatibility with Ansible modules and features used in this playbook.
    # Older Python versions may lack required functionality or security updates.
    - name: Check Python interpreter version
      ansible.builtin.fail:
        msg: "Platform {{ ansible_system|lower }} on host {{ ansible_fqdn }} is using the discovered Python interpreter at {{ ansible_python.executable }}, version {{ ansible_python_version }}, which is below the required minimum of 3.9"
      when: ansible_python_version is version('3.9', '<')
            
    - name: "NBU-STAGE-PACKAGES -> Load configurable variables"
      ansible.builtin.include_vars: "vars/linux.yml"
      tags: ["always"]
      no_log: True

    - name: "NBU-STAGE-PACKAGES -> Input validation fo netbackup role"
      ansible.builtin.fail:
        msg: "'nbu_role' is required to proceed with staging playbook. Do provide the NetBackup role and re-run the playbook."
      when:
      - nbu_role == ""

  roles:
    - role: 'netbackup'                        # Load netbackup common defaults
    - role: 'netbackup/posix'                  # Load netbackup default vars
    - role: 'generic/is_nbu_version_supported'
    - role: 'generic/nbu_space_check'
    - role: 'generic/nbu_compatibility'
    - role: 'netbackup/common/stage-package-locally'
  vars:
    nbu_playbook_type: "stage"
    nbu_role: ""                  # Supported values ['primary','media','client'] 

# EOF