# $Copyright: Copyright (c) 2025 Cohesity, Inc. All rights reserved $

# NetBackup Client - REMOVE - CLIENT
- name: NETBACKUP -> CLIENT REMOVE ("Linux")
  gather_facts: true
  become: yes
  hosts: all

  pre_tasks:
    - name: Retrieving host distribution
      setup:
        gather_subset:
          - "!all"
          - "!min"
          - "distribution"
    - name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Load configurable variables"
      ansible.builtin.include_vars: "vars/linux.yml"
      tags: ["always"]
      no_log: true


  roles:
    - role: 'netbackup'                        # Load netbackup common defaults
    - role: 'netbackup/posix'                  # Load netbackup default vars
    - role: 'generic/is_nbu_version_supported'
    - role: 'generic/os_compatibility'
    - role: 'generic/nbu_compatibility'
    - role: 'netbackup/posix/nbu-remove/v2.0'
  vars:
    nbu_role: "client"
    nbu_playbook_type: "remove"

# EOF