CLIENT_NAME = {{ 'XLOCALHOSTX' }}
MACHINE_ROLE = PRIMARY
SERVER = {{ inventory_hostname_short }}
WEBSVC_GROUP = {{ nbu_webservices_group | default('nbwebgrp') }}
WEBSVC_USER = {{ nbu_webservices_user | default('nbwebsvc') }}
SERVICE_USER = {{ nbu_services_user }}
{% if nbu_version > "10.1.1.0" %}
DATABASE_USER = {{ nbu_database_user }}
{% endif %}
{% if nbu_version > "10.2.0.1" %}
IGNORE_MISSING_CATALOG_BACKUP = {{ 'YES' if skip_missing_catalog_backup_check else 'NO' }}
{% endif %}
{% if nbu_version >= "10.4.0.0" %}
INSTALL_ITA_DATA_COLLECTOR = {{ 'YES' if do_install_ita_dc else 'NO' }}
{% endif %}
{% if nbu_version <= "10.2.0.1" %}
{% for item in nbu_license_key %}
LICENSE = {{ item }}
{% endfor %}
USAGE_INSIGHTS_FILE_PATH = {{ nbu_cust_reg_path }}
{% endif %}
{% if nbu_version > "10.2.0.1" %}
{% for item in qualified_slic_license_file_list %}
LICENSE = {{ os_path_openv_tmp}}/{{ item }}
{% endfor %}
{% endif %}
{% if postgresql_pooler_odbc_port != "" %}
VXDBMS_POSTGRESQL_POOLER_ODBC_PORT = {{ postgresql_pooler_odbc_port }}
{% endif %}