INSTALLDIR:{{ os_path_nbu_install }}
MASTERSERVERNAME:{{ nbu_primary_server_ans }}
SECURITY_CONFIGURATION:
FINGERPRINT:SKIP
ADDITIONALSERVERS:SKIP
NETBACKUPCLIENTINSTALL:1
SERVERS:{{ nbu_primary_server_ans }}
CLIENTNAME:{{ inventory_hostname_short }}
NBSTARTTRACKER:
STARTUP:Automatic
VNETD_PORT:13724
CLIENTSLAVENAME:{{ inventory_hostname_short }}
SILENTINSTALL:1
ISPUSHINSTALL:1
ISCUSTOMINSTALL:1
REBOOT:ReallySuppress
NUMERICINSTALLTYPE:1
STOP_NBU_PROCESSES:0
ABORT_REBOOT_INSTALL:0
PBXCONFIGURECS:FALSE
ECA_CERT_STORE:SKIP
ECA_CERT_PATH:SKIP
ECA_TRUST_STORE_PATH:SKIP
ECA_PRIVATE_KEY_PATH:SKIP
ECA_CRL_CHECK_LEVEL:SKIP
ECA_CRL_PATH:SKIP
ECA_KEY_PASSPHRASEFILE:SKIP
ACCEPT_REVERSE_CONNECTION:FALSE
NB_FIPS_MODE:Disable
