# $Copyright: Copyright (c) 2025 Cohesity, Inc. All rights reserved $

# Verify if the proposed NetBackup software version is supported.
# Set fact - Netbackup Released versions
# Verify if the proposed NetBackup software version is supported.
- name: "NBU-VERSION-SUPPORTED -> Set fact for NBU supported versions"
  ansible.builtin.set_fact:
    nbu_versions_supported: >-
      {%- if nbap_ansible_system == 'posix' -%}
        {{ (nbu_pkgs_ordered_list.keys() | list)[0:5] }}
      {%- elif nbap_ansible_system == 'win32nt' -%}
        {{ (nbu_pkgs_ordered_list['client'].keys() | list)[0:5] }}
      {%- endif -%}

# Verify if the proposed NetBackup software version is supported for install/upgrade
- name: "NBU-VERSION-SUPPORTED -> Verify the OS proposed version is compatible for either Install or Upgrade"
  ansible.builtin.fail:
    msg: "ERROR - Incompatible proposed NetBackup software version ( nbu_version:{{ nbu_version }} ). The supported Netbackup software versions are {{ nbu_versions_supported }}"
  when: nbu_version not in nbu_versions_supported

# EOF
