CLIENT_NAME = {{ nbu_client_name_ans | default('XLOCALHOSTX') }}
MACHINE_ROLE = CLIENT
SERVER = {{ nbu_primary_server_ans }}
SERVICES = yes
AUTHORIZATION_TOKEN = SKIP
CA_CERTIFICATE_FINGERPRINT = SKIP
ACCEPT_REVERSE_CONNECTION = FALSE