# $Copyright: Copyright (c) 2025 Cohesity, Inc. All rights reserved. $

#############################################################
#### nbu-remove -> tasks -> t03_base_remove.yml ####
#############################################################

# Define the install start time as variable
- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Start NetBackup Removal Playbook"
  ansible.builtin.set_fact:
    status: "started"
    install_time: "{{ lookup('pipe','date +%Y%m%d%H%M%S') }}"

# Verify whether the target machine has any other role installed other than the playbook role
- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Do not continue if target machine has different role installed other than the playbook role"
  ansible.builtin.include_role:
    name: 'generic/nbu_compatibility'

# Make sure to stop gracefully/forcefully NetBackup processes before removing RPMs
- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Stopping NetBackup daemons"
  ansible.builtin.include_role:
    name: 'netbackup/{{ nbap_ansible_system }}/nbu-stop-services'

# Create partial remove touch file and insert nbu_role
- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Create partial remove touch file and insert nbu_role and nbu_version."
  ansible.builtin.lineinfile:
    dest: "{{ os_path_openv_tmp }}/nbap_partial_install_detected"
    line: "{{ item }}"
    create: yes
  with_items:
    - "{{ nbu_role }}"
    - "{{ nbu_playbook_type }}"
  
- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Check if {{ os_path_nbu_log_vxlogcfg }} exists"
  stat:
    path: "{{ os_path_nbu_log_vxlogcfg }}"
  register: vxlogcfg_present_register
  changed_when: false
  failed_when: false

- block:
  - name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Check NB registered with vxlogcfg"
    shell: "{{ os_path_nbu_log_vxlogcfg }} -l | grep 'NB,nb'"
    failed_when: false
    register: vxlogcfg

  - name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} ->  execute {{ os_path_nbu_log_vxlogcfg }} -r -p 51216"
    shell: '{{ os_path_nbu_log_vxlogcfg }} -r -p 51216'
    failed_when: false
    when: vxlogcfg.rc == 0
  when: vxlogcfg_present_register.stat.exists

- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }}-> Check if /opt/pdde/pddeuninstall.sh Exists"
  stat:
    path: "/opt/pdde/pddeuninstall.sh"
  register: pddeuninstall_check_register
  changed_when: false
  failed_when: false

- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }}-> Check if {{ nbu_rpm_vrtsnbcfg }} is removed"
  ansible.builtin.yum:
    name: "{{ nbu_rpm_vrtsnbcfg }}"
    state: absent
    disablerepo: "*"
    enablerepo: netbackup
  when:
    - ansible_os_family == 'RedHat'

- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }}-> Check if {{ nbu_rpm_vrtsnbcfg }} is removed"
  zypper:
    name: "{{ nbu_rpm_vrtsnbcfg }}"
    state: absent
  when:
    - ansible_os_family == 'Suse'

- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }}-> Remove {{ nbu_rpm_vrtsnbcfg }} package (AIX/Solaris)"
  ansible.builtin.shell: " {{ uninstall_package_cmd }} {{ nbu_rpm_vrtsnbcfg }}"
  when:
    - ansible_system == 'AIX' or ansible_system == 'SunOS'

- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Execute /opt/pdde/pddeuninstall.sh -forceclean"
  shell: '/opt/pdde/pddeuninstall.sh -forceclean'
  when: pddeuninstall_check_register.stat.exists
  failed_when: false

# Exclude packages with a defined 'shared' attribute from removal, as these are shared components used by multiple packages.
- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Remove NetBackup Software RPMs"
  ansible.builtin.yum:
    name: 
      - "{{ item.name }}"
    state: absent
    validate_certs: no
    disablerepo: "*"
    enablerepo: netbackup
  register: result
  with_items:
    - "{{ nbu_pkgs_ordered_list[nbu_version] | reverse }}"
  when: 
    - ansible_os_family == 'RedHat'
    - ( item.role is defined and nbu_role in item.role ) or ( item.role is not defined )
    - ( item.platforms is defined and nbu_current_os_arch in item.platforms ) or ( item.platforms is not defined )  
    - not (result.rc|d(0)) # Make sure that the loop exits if any RPM Removal fails.

- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Remove NetBackup Software RPMs"
  zypper:
    name:
      - "{{ item.name }}"
    state: absent
    disable_gpg_check: no
  register: result
  with_items:
    - "{{ nbu_pkgs_ordered_list[nbu_version] | reverse }}"
  when: 
    - ansible_os_family == 'Suse'
    - ( item.role is defined and nbu_role in item.role ) or ( item.role is not defined )
    - ( item.platforms is defined and nbu_current_os_arch in item.platforms ) or ( item.platforms is not defined )
    - not (result.rc|d(0)) # Make sure that the loop exits if any RPM Removal fails.

- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Remove NetBackup Software Packages (AIX)"
  ansible.builtin.installp:
    name: "{{ item.name }}"
    state: absent
  register: result
  with_items:
    - "{{ nbu_pkgs_ordered_list[nbu_version] | reverse }}"
  when:
    - ansible_os_family == 'AIX'
    - ( item.role is defined and nbu_role in item.role ) or ( item.role is not defined )
    - ( item.platforms is defined and nbu_current_os_arch in item.platforms ) or ( item.platforms is not defined )
    - not (result.rc|d(0)) # Make sure that the loop exits if any package removal fails.

# Remove all NetBackup packages for Solaris
- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Remove all NetBackup packages (Solaris)"
  ansible.builtin.shell: "{{ uninstall_package_cmd }} -a {{ os_path_openv_tmp }}/netbackup_sunos_packages/.pkg_defaults -n {{ item.name }} || true"
  register: result
  with_items:
    - "{{ nbu_pkgs_ordered_list[nbu_version] | reverse }}"
  when:
    - ansible_system == 'SunOS'
    - ( item.role is defined and nbu_role in item.role ) or ( item.role is not defined )
    - ( item.platforms is defined and nbu_current_os_arch in item.platforms ) or ( item.platforms is not defined )
    - not (result.rc|d(0))

# Remove EEB Marker packages here, so not picked up by the VRTSpbx check
- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Remove EEB RPM Markers"
  ansible.builtin.shell: ( rpm -qa | grep {{ nbu_eeb_prefix }} | while read line; do rpm -e $line; done)
  failed_when: false

- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Check If VRTSpbx Might Be In Use By Other Cohesity Products"
  shell: "{{ vrts_pbx_usage_cmd }}"
  register: pbx_other_products_check_register
  changed_when: false
  failed_when: false
  
# Remove the version of VRTSpbx that comes with proposed version, if nothing else is using it.
# wc -l in above statement returns char rather then integer, hence check for "0"
- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Remove {{ nbu_client_rpm_pbx }} If No Other Product Using It"
  ansible.builtin.yum:
    name: "{{ nbu_client_rpm_pbx }}"
    state: absent
    disablerepo: "*"
    enablerepo: netbackup
  when:
  - ansible_os_family == 'RedHat'
  - pbx_other_products_check_register.stdout == "0"

- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Remove {{ nbu_client_rpm_pbx }} If No Other Product Using It"
  zypper:
    name: "{{ nbu_client_rpm_pbx }}"
    state: absent
    disable_gpg_check: no
  when:
  - ansible_os_family == 'Suse'
  - pbx_other_products_check_register.stdout == "0"

- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Remove {{ nbu_client_rpm_pbx }} If No Other Product Using It"
  ansible.builtin.installp:
    name: "{{ nbu_client_rpm_pbx }}"
    state: absent
  when:
    - ansible_os_family == 'AIX'
    - pbx_other_products_check_register.stdout == "0"

- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Remove {{ nbu_client_rpm_pbx }} If No Other Product Using It"
  ansible.builtin.shell: "{{ uninstall_package_cmd }} {{ nbu_client_rpm_pbx }} || true"
  when:
    - ansible_os_family == 'Solaris'
    - pbx_other_products_check_register.stdout == "0"

- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }}-> Check if /usr/openv/analyticscollector/UninstallerData/uninstall_dc.sh Exists"
  stat:
    path: "/usr/openv/analyticscollector/UninstallerData/uninstall_dc.sh"
  register: uninstall_ita_dc_check_register
  changed_when: false
  failed_when: false

- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Execute /usr/openv/analyticscollector/UninstallerData/uninstall_dc.sh -r"
  shell: '/usr/openv/analyticscollector/UninstallerData/uninstall_dc.sh -r'
  when: uninstall_ita_dc_check_register.stat.exists
  failed_when: false

# Remove the temporary file from /tmp folder.
- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Remove the nbap_partial_install_detected file from {{ os_path_openv_tmp }} "
  ansible.builtin.file:
     path: "{{ item }}"
     state: absent
  with_items:
    - "{{ os_path_openv_tmp }}/nbap_partial_install_detected"
    - "/tmp/previous_rpm_pkg_install_failed"
    - "/tmp/NBInstallAnswer.conf"
    - "/tmp/nb_mstr_ans"

- name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Remove NetBackup link, file and directory"
  block:
    - name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Delete NetBackup links"
      ansible.builtin.shell: "{{ delete_nbu_links_cmd | replace('ITEM_LINK_NAME', item ) }}"
      with_items: "{{ nbu_directory_list_to_be_removed }}"

    - name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Remove NetBackup xinetd configurations (bpcd, vnetd, vopied)"
      ansible.builtin.file:
        path: "/etc/xinetd.d/{{ item }}"
        state: absent
      loop:
        - bpcd
        - vnetd
        - vopied
      failed_when: false

    - name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Remove NetBackup init script from /etc/init.d/"
      ansible.builtin.file:
        path: '{{ item }}'
        state: absent
      failed_when: false
      with_items:
        - /etc/rc0.d/K01netbackup
        - /etc/rc1.d/K01netbackup
        - /etc/rc2.d/S95netbackup
        - /etc/init.d/netbackup

    - name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Delete NetBackup files"
      ansible.builtin.shell: "{{ delete_nbu_files_cmd | replace('ITEM_FILE_NAME', item ) }}"
      with_items: "{{ nbu_directory_list_to_be_removed }}"

    - name: "NBU-{{ nbu_role|upper }}-{{ nbu_playbook_type|upper }} -> Delete NetBackup directories except mounted disks"
      ansible.builtin.shell: "{{ delete_nbu_directories_cmd | replace('ITEM_DIR_NAME', item ) }}"
      with_items: "{{ nbu_directory_list_to_be_removed }}"
      failed_when: false

# EOF
