# $Copyright: Copyright (c) 2025 Cohesity, Inc. All rights reserved $

# Execute the role which detect the partial install status
- name: "NBU-VERIFICATION -> Execute the partial install status role"
  ansible.builtin.include_role:
    name: 'helper/detect_partial_install'

- name: "NBU-VERIFICATION -> Include tasks for nbu verification"
  ansible.builtin.include_tasks: "{{ nbap_ansible_system }}.yml"
  when:
    - ( not nbap_partial_install_detected )
