# $Copyright: Copyright (c) 2025 Cohesity, Inc. All rights reserved $

#####################################################
#### Stage Packages Locally - ("Linux/Windows") ####
#####################################################

- name: "NBU-STAGE-PACKAGES -> Add YUM repository for NetBackup Software" 
  ansible.builtin.yum_repository:
    name: netbackup
    description: NetBackup {{ nbu_version }} Client Binaries
    baseurl: "{{ nbu_artifactory_repo_base_url }}{{ artifactory_repo }}{{ nbu_path_repo_base_pkg }}"
    enabled: no
    gpgcheck: no
    state: present
    sslverify: no
  when:
    - ansible_os_family == 'RedHat'


# Stage NetBackup Software Packages -> Linux
- name: "NBU-STAGE-PACKAGES -> Download NetBackup {{ nbu_role }} software locally"
  ansible.builtin.yum:
    name: 
      - "{{ item.name }}"
    state: latest
    disablerepo: "*"
    enablerepo: netbackup
    validate_certs: no
    download_only: true
  register: download_result
  with_items:
    - "{{ nbu_pkgs_ordered_list[nbu_version] }}"
  when:
    - ( item.platforms is defined and nbu_current_os_arch in item.platforms ) or ( item.platforms is not defined )
    - ((item.role is defined and nbu_role in item.role) or (item.role is not defined))
    - not (download_result.rc|d(0)) # Make sure that the loop exits if any RPM installation fails.
    - ansible_os_family == 'RedHat'

# EOF