# $Copyright: Copyright (c) 2025 Cohesity, Inc. All rights reserved $

- name: "NBU-COMPATIBILITY -> Load target machine hostname for Primary Server"
  set_fact: 
    nbu_primary_server_ans: "{{ inventory_hostname_short }}"
  when:  
    - ( nbu_role is defined )
    - ( nbu_role == "primary" )

- name: "NBU-VERSION-CHECK -> Gather facts for version status"
  ansible.builtin.include_role:
    name: 'helper/nbu_version_installed'

- name: "NBU-VERSION-CHECK -> Include tasks for NetBackup version check"
  ansible.builtin.include_tasks: "version_check.yml"

- name: "NBU-ROLE-CHECK -> Gather facts for role status"
  ansible.builtin.include_role:
    name: 'helper/nbu_role_status'

- name: "NBU-ROLE-CHECK -> Include tasks for NetBackup role check"
  ansible.builtin.include_tasks: "role_check.yml"

- name: "NBU-COMPATIBILITY -> Include tasks for NetBackup compatibility check"
  ansible.builtin.include_tasks: "primary_version_check_{{ nbap_ansible_system }}.yml"
  when:
    - not skip_primary_version_compatibility_check
    - ( nbu_playbook_type is defined )
    - ( nbu_playbook_type == "install" ) or ( nbu_playbook_type == "upgrade")
    - ( nbu_role == "media" ) or ( nbu_role == "client" )

# EOF