# $Copyright: Copyright (c) 2025 Cohesity, Inc. All rights reserved $

- name: "NBU-ROLE-CHECK -> Fail if target host machine has different role installed other than the playbook role"
  block:
    - name: "NBU-ROLE-CHECK -> Fail if target host machine has different role installed other than the playbook role"
      ansible.builtin.fail:
        msg: "This machine has NetBackup {{ nbu_detected_role }} installed . Executing this Playbook on {{ nbu_detected_role }} would cause a significant outage."
      when:
        - nbu_role is defined
        - nbu_role != nbu_detected_role
        - nbu_detected_role != "NOT_FOUND"

    - name: "NBU-ROLE-CHECK -> Check if target host machine doesn't have any NetBackup Software installed during upgrade"
      ansible.builtin.fail:
        msg: "This machine doesn't have any Netackup Software installed"
      when: 
        - nbu_detected_role == "NOT_FOUND" 
        - nbu_playbook_type == "upgrade"
  when: ( not nbap_partial_install_detected )

- name: "NBU-ROLE-CHECK -> Stop execution any further, as partial installation detected for a different role."
  block:
    - name: "NBU-ROLE-CHECK -> Stop execution any further, as partial installation detected for a different role."
      ansible.builtin.fail:
        msg: "This machine has NetBackup {{ nbap_partial_role_detected|capitalize }} partially installed. Executing this Playbook with {{ nbu_role|capitalize }} isn't supported."
      when:
        - nbu_role != nbap_partial_role_detected

    - name: "NBU-ROLE-CHECK -> Stop execution any further for all playbooks other than install/upgrade/remove"
      ansible.builtin.fail:
        msg: "This machine has NetBackup {{ nbap_partial_role_detected|capitalize }} partially installed which was executed through playbook of type (nbu_playbook_type:{{ nbap_previous_playbook_type }}). Executing this Playbook (nbu_playbook_type:{{ nbu_playbook_type }}) isn't supported."
      when:
        - ( nbu_playbook_type != nbap_previous_playbook_type ) and ( nbu_playbook_type != "remove" )
        - nbu_role == nbap_partial_role_detected
  when: 
   - ( nbap_partial_install_detected )
   - nbu_role is defined
   - nbap_partial_role_detected is defined