# $Copyright: Copyright (c) 2025 Cohesity, Inc. All rights reserved $

- name: "NBU-INITIALIZE-{{ nbu_playbook_type|upper }} -> Initializing platform specifics settings"
  ansible.builtin.set_fact:
    package_extension: "undefined"
    nbcheck_package_extraction_cmd: "undefined"
    pkg_status_check_cmd: "undefined"
    version_check_cmd: "undefined"
    uninstall_package_cmd: "undefined"
    server_name_replace_cmd: "undefined"
    installed_packages_list_query_cmd: "undefined"
    delete_nbu_links_cmd: "undefined"
    delete_nbu_files_cmd: "undefined"
    delete_nbu_directories_cmd: "undefined"
    eeb_netbackup_version_cmd: "EEB_PATH/EEB_NAME -eeb_ver | awk -F'NetBackup_' '/NetBackup_/ {print $2}' | awk -F. '{printf \"%d.%d.%d.%d\\n\", $1, ($2?$2:0), ($3?$3:0), ($4?$4:0)}'"

- name: "NBU-INITIALIZE-{{ nbu_playbook_type|upper }} -> Initializing {{ ansible_system }} platform specifics settings"
  ansible.builtin.set_fact:
    package_extension_wo_gz: ".rpm"
    package_extension: ".rpm"
    nbcheck_package_extraction_cmd: "rpm2cpio VRTSnbpck.rpm | cpio -idmv"
    pkg_status_check_cmd: "rpm -qa | grep 'ITEM_PACKAGE_NAME'"
    version_check_cmd: "rpm -qi 'ITEM_PACKAGE_NAME' | awk '/Version/ { print $3}'"
    server_name_replace_cmd: "sed -i 's/SERVER = master_01/SERVER = master01/g' /usr/openv/netbackup/bp.conf"
    installed_packages_list_query_cmd: "rpm -qa | egrep 'PACKAGE_LIST_PLACEHOLDER'"
    delete_nbu_links_cmd: "find 'ITEM_LINK_NAME' -type l -print0 | xargs -0 rm -rf"
    delete_nbu_files_cmd: "find 'ITEM_FILE_NAME' -type f -print0 | xargs -0 rm -f"
    delete_nbu_directories_cmd: "find 'ITEM_DIR_NAME' -type d -print0 | xargs -0 rm -rf"
  when: ansible_system == 'Linux'

- name: "NBU-INITIALIZE-{{ nbu_playbook_type|upper }} -> Initializing {{ ansible_system }} platform specifics settings"
  ansible.builtin.set_fact:
    package_extension_wo_gz: ".image"
    package_extension: ".image.gz"
    nbcheck_package_extraction_cmd: "restore -xvqf VRTSnbpck.image"
    pkg_status_check_cmd: "lslpp -l | grep -i 'ITEM_PACKAGE_NAME'"
    version_check_cmd: "lslpp -l | grep -i 'ITEM_PACKAGE_NAME' | awk '{print $2}' | head -n 1'"
    uninstall_package_cmd: "installp -u"
    server_name_replace_cmd: "sed 's/^SERVER = master_01/SERVER = master01/g' /usr/openv/netbackup/bp.conf > /tmp/bp.conf.tmp && mv /tmp/bp.conf.tmp /usr/openv/netbackup/bp.conf"
    installed_packages_list_query_cmd: "lslpp -l | grep -E 'PACKAGE_LIST_PLACEHOLDER'"
    delete_nbu_links_cmd: "find 'ITEM_LINK_NAME' -maxdepth 1 -type l -exec rm -f {} + 2>/dev/null || true"
    delete_nbu_files_cmd: "find 'ITEM_FILE_NAME' -type f -exec rm -f {} + 2>/dev/null || true"
    delete_nbu_directories_cmd: "rm -rf 'ITEM_DIR_NAME' 2>/dev/null || true"
  when: ansible_system == 'AIX'

- name: "NBU-INITIALIZE-{{ nbu_playbook_type|upper }} -> Initializing {{ ansible_system }} platform specifics settings"
  ansible.builtin.set_fact:
    package_extension_wo_gz: ".pkg"
    package_extension: ".pkg.gz"
    nbcheck_package_extraction_cmd: "pkgtrans VRTSnbpck.pkg . all"
    pkg_status_check_cmd: "pkginfo -l | grep -i 'ITEM_PACKAGE_NAME'"
    version_check_cmd: "pkginfo -l 'ITEM_PACKAGE_NAME' | awk -F: '/VERSION/ {print $2}' | xargs"
    uninstall_package_cmd: "pkgrm -a {{ os_path_openv_tmp }}/netbackup_sunos_packages/.pkg_defaults -n"
    server_name_replace_cmd: "sed 's/^SERVER = master_01/SERVER = master01/g' /usr/openv/netbackup/bp.conf > /tmp/bp.conf.tmp && mv /tmp/bp.conf.tmp /usr/openv/netbackup/bp.conf"
    installed_packages_list_query_cmd: "pkginfo | egrep 'PACKAGE_LIST_PLACEHOLDER'"
    delete_nbu_links_cmd: "find 'ITEM_LINK_NAME' -type l -exec rm -f {} + 2>/dev/null || true"
    delete_nbu_files_cmd: "find 'ITEM_FILE_NAME' -type f -exec rm -f {} + 2>/dev/null || true"
    delete_nbu_directories_cmd: "rm -rf 'ITEM_DIR_NAME' 2>/dev/null || true"
    eeb_pkg_installcmd: "echo all | pkgadd -a {{ os_path_openv_tmp }}/netbackup_sunos_packages/.pkg_defaults -d ITEM_EEB_MARKER_PACKAGE.pkg"
  when: ansible_system == 'SunOS'

- name: "NBU-INITIALIZE-{{ nbu_playbook_type|upper }} -> Initialize DirectIO installation decision"
  block:
    - name: "NBU-INITIALIZE-{{ nbu_playbook_type|upper }} -> Check DirectIO PKG status"
      ansible.builtin.shell: "{{ pkg_status_check_cmd | replace('ITEM_PACKAGE_NAME', 'VRTSnbdirectio') }}"
      register: directio_pkg_check
      failed_when: false
      changed_when: false
      when: include_directio_install | upper == 'MATCH'

    - name: "NBU-INITIALIZE-{{ nbu_playbook_type|upper }} -> Initialize nb_include_directio_install"
      ansible.builtin.set_fact:
        nb_include_directio_install: >-
          {%- if include_directio_install | upper == 'INCLUDE' -%}
            true
          {%- elif include_directio_install | upper == 'EXCLUDE' -%}
            false
          {%- elif include_directio_install | upper == 'MATCH' -%}
            {{ directio_pkg_check.rc == 0 }}
          {%- endif -%}
  when: ansible_os_family == 'RedHat'

- name: "NBU-INITIALIZE-{{ nbu_playbook_type|upper }} -> Initialize VRTSpddeu client installation decision"
  block:
    - name: "NBU-INITIALIZE-{{ nbu_playbook_type|upper }} -> Check VRTSpddeu PKG status"
      ansible.builtin.shell: "{{ pkg_status_check_cmd | replace('ITEM_PACKAGE_NAME', 'VRTSpddeu') }}"
      register: vrtspddeu_pkg_check
      failed_when: false
      changed_when: false
      when: include_vrtspddeu_client_install | upper == 'MATCH'

    - name: "NBU-INITIALIZE-{{ nbu_playbook_type|upper }} -> Initialize nb_include_vrtspddeu_client_install"
      ansible.builtin.set_fact:
        nb_include_vrtspddeu_client_install: >-
          {%- if (nbu_role is defined and nbu_role in ['media', 'primary']) -%}
            true
          {%- elif include_vrtspddeu_client_install | upper == 'INCLUDE' -%}
            true
          {%- elif include_vrtspddeu_client_install | upper == 'EXCLUDE' -%}
            false
          {%- elif include_vrtspddeu_client_install | upper == 'MATCH' -%}
            {{ vrtspddeu_pkg_check.rc == 0 }}
          {%- endif -%}
  when: 
    - ansible_os_family in ['RedHat', 'Suse']
    - ansible_architecture == 'x86_64'

#EOF